In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('../data_adventureWorks/DimReseller2.csv')
display(df.head(2))

,ResellerKey,GeographyKey,ResellerAlternateKey,Phone,BusinessType,ResellerName,NumberEmployees,OrderFrequency,OrderMonth,FirstOrderYear,LastOrderYear,ProductLine,AddressLine1,AddressLine2,AnnualSales,BankName,MinPaymentType,MinPaymentAmount,AnnualRevenue,YearOpened
0,1,637,AW00000001,245-555-0173,Value Added Reseller,A Bike Store,2,S,5.0,2011.0,2011.0,Road,2251 Elliot Avenue,NaN,300000.0,International Bank,NaN,NaN,30000.0,1974
1,2,635,AW00000002,170-555-0127,Specialty Bike Shop,Progressive Sports,10,A,5.0,2012.0,2013.0,Mountain,3207 S Grady Way,NaN,800000.0,International Security,1.0,NaN,80000.0,1976

In [16]:
df['ResellerKey'].notna().sum()

701