In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('../data_adventureWorks/DimEmployee2.csv')
display(df.head(2))

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,SalesTerritoryKey,FirstName,LastName,MiddleName,NameStyle,Title,...,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,StartDate,EndDate,Status,EmployeePhoto
0,1,18.0,14417807,NaN,11,Guy,Gilbert,R,0,Production Technician - WC60,...,12.4500,21,30,1,0,Production,2006-01-28,NaN,Current,FFD8FFE000104A46494600010101004800480000FFED00...
1,2,7.0,253022876,NaN,11,Kevin,Brown,F,0,Marketing Assistant,...,13.4615,42,41,1,0,Marketing,2006-08-26,NaN,Current,FFD8FFE000104A46494600010101004800480000FFED02...

In [18]:
df['EmployeeKey'].notna().sum()

296